.title-default
{
  font-family: 'Poppins' !important;
}
.toast-class {
  top: 70px !important;
  font-family: 'Poppins' !important;
}

.font-size-14 {
  font-size: 14px !important;
  font-family: 'Poppins' !important;
}

.font-size-13 {
  font-size: 13px !important;
  font-family: 'Poppins' !important;
}

.font-size-12 {
  font-size: 12px !important;
  font-family: 'Poppins' !important;
}

.font-size-11 {
  font-size: 11px !important;
  font-family: 'Poppins' !important;
}

.font-size-10 {
  font-size: 10px !important;
  font-family: 'Poppins' !important;
}

.button {
  font-family: 'Poppins' !important;
}

.backclass {
  bottom: 0;
  left: 3em;
  margin: 0;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
}

.ion-color-danger {
  --ion-color-base: var(--ion-color-danger, #ED0226) !important;
  color: #fff !important;
  font-weight: 700;
}
